<p>Please complete all of the steps on this page:</p>

<%= link_to "Start PHQ screeners", new_check_in_screener_path(@check_in) %>

<%= form_for(:check_in, url: check_in_path, method: :put, id: 1) do |f| %>
  <%= f.submit "Complete check in" %>
<% end %>
